---
import Categorias from "../../components/Categorias.astro";
import Header from "../../components/Header.astro";
import Shop from "../../components/shop.astro";
import Layout from "../../layouts/Layout.astro";


const { subcategoria_id } = Astro.params;

// Función para obtener los productos de la subcategoría desde la API
const fetchProductos = async (subcategoria_id) => {
  try {
    const response = await fetch(`http://localhost:3000/api/productos/${subcategoria_id}`);
    if (!response.ok) {
      throw new Error('Error al obtener productos');
    }
    const data = await response.json();
    return data;
  } catch (error) {
    console.error(error);
    return [];
  }
};

// Llamada a la API para obtener los productos
const productos = await fetchProductos(subcategoria_id);
---

<Layout title="Productos">
    <main class="bg-slate-800 text-white">
        <Header/>

        <div class="grid grid-cols-[1fr_3fr] gap-3 p-2">
			<aside class="bg-slate-700 p-3 h-screen mt-7">
				<h3 class="text-center">Categorias</h3>
				<Categorias/>
			</aside>
			<div class="ml-3 text-center mt-7">
                <section>
  
                    {productos.length > 0 ? (
                      <ul>
                        {productos.map(producto => (
                        <div class="bg-slate-600 m-2 grid grid-cols-4 rounded-md">
                          <img src={producto.imagen} alt="imagen del producto" />
                  
                          <div class="col-span-3 p-3">
                            <p>{producto.descripcion}</p>
                  
                            <div class="grid grid-cols-2 p-4">
                              <p class="text-start"> </p>
                  
                              <p class="text-end">Disponibles: {producto.cantidad_en_stock}</p>
                  
                              <p class="text-end col-span-2">Precio: ${producto.precio}</p>
                  
                              <button
                                type="button"
                                class="bg-cyan-400 ml-auto col-start-2 mt-4 py-2 rounded-lg hover:bg-black w-1/2 flex items-center justify-center gap-2 active:scale-95"
                              >
                                <Shop class="w-5 h-5" />
                                Buy
                              </button>
                            </div>
                          </div>
                        </div>
                      ))}
                      </ul>
                    ) : (
                      <p>No se encontraron productos para esta subcategoría.</p>
                    )}
                  </section>
			</div>
		</div>

       
              
    </main>    
</Layout>
