---
import Shop from "./shop.astro";

let products = [];

// Obtener los productos desde la API
const fetchListProducts = async () => {
  const response = await fetch("http://localhost:3000/productos");
  if (response.ok) {
    products = await response.json();
  }
};

// Llamar a la función para obtener los productos
await fetchListProducts();
---

<!-- Listar productos -->
<div class="p-4">
  {products.length > 0 ? (
    products.map((product) => (
      <div class="bg-slate-600 m-2 grid grid-cols-4 rounded-md h-60">
        <img class="h-60 object-cover" src={product.Imagen} alt="imagen del producto" />

        <div class="col-span-3 p-3">
          <p class="font-bold text-lg text-white">{product.Descripcion}</p>

          <div class="grid grid-cols-2 p-4 text-white">
            <p class="text-start"> </p>
            <p class="text-end">Disponibles: {product.Stock}</p>
            <p class="text-end col-span-2">Precio: ${product.Precio}</p>

            <!-- Botón de pago que redirige a la página de pago con el ID del producto -->
            <a
              href={`/payment/${product.Producto_id}`}
              class="bg-cyan-400 ml-auto col-start-2 mt-4 py-2 rounded-lg hover:bg-black w-1/2 flex items-center justify-center gap-2 active:scale-95"
            >
              <Shop class="w-5 h-5" />
              Comprar
            </a>
          </div>
        </div>
      </div>
    ))
  ) : (
    <p class="text-center text-white">No hay productos disponibles</p>
  )}
</div>
